{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block body %}
<div class="container">
    <h2>About Us</h2>
    <hr class="text-success">
    <div class="col-md-6">
        <h3>Our Mission</h3>
        <p>
            At Money Matters, our mission is to empower you in achieving your financial goals.
            We are dedicated to providing a smooth experience for users who wish to track their savings and expenses. Our tools are designed to be easy to use and hassle-free to assist our users in their journey to financial success.
        </p>
    </div>
    <div class="col-md-6">
        <h3>Our Values</h3>
        <p>
            - Integrity: We believe in honesty, transparency, and ethical business practices.
            <br>
            - Customer-Centric: Our customers are at the heart of everything we do. We strive to exceed their expectations.
            <br>
            - Innovation: We embrace creativity and continuously seek new and improved ways to serve our customers.
        </p>
    </div>
</div>
{% endblock %}
