{% extends "layout.html" %}

{% block title %}
    Landing
{% endblock %}

{% block body %}
    <div class=" container">
        <div>
            <h2>Welcome to Money Matters!</h2>
            <hr class="text-success">
            <h3>Manage Your Finances with Ease</h3>
            <p class="lead">
                Do you face difficulties in managing your finances? Are you looking for a simple and effective way to track your inflows and outflows?
                Well, look no further! Money Matters is your go-to solution for effortless expense tracking and financial management.
            </p>
            <h3>Why Choose Money Matters?</h3>
            <hr class="text-success">
            <table class="table">
                <tr>
                    <td>Effortless Expense Tracking:</td>
                    <td>Say goodbye to manual record-keeping and tedious spreadsheets. Our website is easy to navigate and ensures effortless usage for expense tracking in real-time.</td>
                </tr>
                <tr>
                    <td>Comprehensive Financial Insights:</td>
                    <td>Gain a clear idea of your spending habits with visualizations through pie charts. Identify areas which require more savings and make informed financial decisions.</td>
                </tr>
                <tr>
                    <td>Budgeting Made Simple:</td>
                    <td>Set realistic budgets for different categories. Promptly receive alerts when you're approaching your limits.</td>
                </tr>
            </table>
            <hr class="text-success">
            <h3>Getting Started is Easy</h3>
            <table class="table">
                <tr>
                    <td>Create Your Account:</td>
                    <td>To get started, sign up for a free account and start managing your finances in no time!</td>
                </tr>
                <tr>
                    <td>Log Your Expenses:</td>
                    <td>Input your expenses easily, whether it's a cup of coffee, monthly bills, or a spontaneous purchase. Our platform adapts to your lifestyle.</td>
                </tr>
                <tr>
                    <td>Track Your Progress:</td>
                    <td>Monitor your spending patterns, set budgets, and work towards achieving your financial goals.</td>
                </tr>
            </table>
            <hr class="text-success">
            <h3>Sign up for your Money Matters account today!</h3>
            <p class="lead">
                Join Money Matters today and experience the simplicity of stress-free expense tracking.
            </p>
            <div class="row text-center">
                <p class="col">
                    Ready to take control of your finances? <a href="/register">Sign Up Now</a>
                </p>
            </div>
            <p class="text-center">Money Matters - Manifesting Your Financial Success</p>
        </div>
    </div>
{% endblock %}
