{% extends "layout.html" %}

{% block title %}
    Inflow
{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center">
        <div class="col-md-6">
            <form action="/inflow" method="post">
                <h2>Add Inflow</h2>
                <label for="description" class="form-label">Description:</label>
                <input type="text" class="form-control" id="description" name="description" placeholder="Description" required>
                <br>
                <label for="amount" class="form-label">Amount:</label>
                <input type="text" class="form-control" id="amount" name="amount" placeholder="Amount" required>
                <br>
                <label for="category" class="form-label">Category:</label>
                <select class="form-select" id="category" name="category" required>
                    <option selected value="">Select a category!</option>
                    {% for option in categoryList %}
                        <option value="{{ option }}">{{ option }}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="date" class="form-label">Date:</label>
                <input type="date" class="form-control" id="date" name="date" required>
                <br>
                <button type="submit" class="btn btn-primary col-12">Add Entry</button>
                <div class="text-danger form-text {% if missingFields %} visible {% else %} invisible {% endif %}">Missing fields!</div>
            </form>
        </div>
    </div>
{% endblock %}
